---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "My Blog";
const description = "Stay in sync with the latest news and perspectives with our regularly updated fresh content.";
const allPosts = await getCollection("posts");
---
<BaseLayout pageTitle={pageTitle} description={description}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>