---
import BaseLayout from "../layouts/BaseLayout.astro";
import { xata } from '../lib/xata'


const page = await  xata.db.historyRecord.sort('createTime','desc').select([ "id", "title", "question", "association", "description", "createTime"]).getPaginated({
    pagination: {
      size: 30,
      offset: 0 
    },
});
const data = page.records
const pageTitle = "About Me";

---

<BaseLayout pageTitle={pageTitle}>
	<main class="mx-auto max-w-screen-xl">
		<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4 md:p-6">
			{data.map((item) => (
				<div class="rounded-lg border bg-white text-black shadow-sm p-6 space-y-4">
					<!-- 
					<h3 class="text-2xl font-semibold">{item.title}</h3>
					-->
					<div class="rounded-full border px-2.5 py-0.5 text-xs font-semibold bg-black text-white">
						{item.createTime instanceof Date ? item.createTime.toLocaleString() : item.createTime}
					</div>
					<p class="text-sm">
						{item.description}
					</p>
					<!-- 
					<button class="inline-flex items-center justify-center text-sm font-medium border border-gray-300 bg-white hover:bg-black hover:text-white h-9 rounded-md px-3">
						View details
					</button>
					-->
				</div>
			))}
		</section>
		
	</main>
</BaseLayout>
