---
import { ViewTransitions } from 'astro:transitions';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
const { description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={'Browse novel ideas created by AI, along with a list of websites personally curated by me. - ' + description}>
    <title>AI Creative Generator and Personal Website Collection - Discover Unique Inspiration and Preferences - {pageTitle}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="flex flex-col min-h-screen mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <!-- <h1>{pageTitle}</h1> -->
      <slot />
      <Footer />
    </main>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

